/*@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);*/

.panel > .list-group .list-group-item:first-child {
    /*border-top: 1px solid rgb(204, 204, 204);*/

}
@media (max-width: 767px) {
    .visible-xs {
        display: inline-block !important;
    }
    .block {
        display: block !important;
        width: 100%;
        height: 1px !important;
    }
}
#back-to-bootsnipp {
    position: fixed;
    top: 10px; right: 10px;
}


.c-search > .form-control {
   border-radius: 0px;
   border-width: 0px;
   border-bottom-width: 1px;
   font-size: 1.3em;
   padding: 12px 12px;
   height: 44px;
   outline: none !important;
}
.c-search > .form-control:focus {
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none;
}
.c-search > .input-group-btn .btn {
   border-radius: 0px;
   border-width: 0px;
   border-left-width: 1px;
   border-bottom-width: 1px;
   height: 44px;
}


.c-list {
    padding: 0px;
    min-height: 44px;
}
.title {
    display: inline-block;
    font-size: 1.7em;
    font-weight: bold;
    padding: 5px 15px;
    color: #445645;
}
ul.c-controls {
    list-style: none;
    margin: 0px;
    min-height: 44px;
}

ul.c-controls li {
    margin-top: 8px;
    float: left;
}

ul.c-controls li a {
    font-size: 1.7em;
    padding: 11px 10px 6px;
}
ul.c-controls li a i {
    min-width: 24px;
    text-align: center;
    color: #445645;
}

ul.c-controls li a:hover {
    background-color: rgba(51, 51, 51, 0.2);
}

.c-toggle {
    font-size: 1.7em;
}

.name {
    font-size: 1.7em;
    font-weight: 700;
    color: rgb(107, 162, 109) !important;
}

.c-info {
    padding: 5px 10px;
    font-size: 1.25em;
}

.scroll-container {
  height: 550px;
  overflow-y: scroll;
  margin-top: 25px;
}
.contact-container {
  margin-left: 3% !important;
  margin-right: 3% !important;
}
.contact-container-scroll {
  overflow-y: scroll;

}
.contact-container-body {
  width: 97%;
  height: 550px;
  background-color: white;
  margin-top: 25px;
}

.nav-title {
  margin-left: -50px;
}

.no-margin {
  margin-left: 0 !important;
}
.abire-logo {
  width: auto;
  height: 55px;
}
.profile-avatar {
  margin-left: 40px;
}
.personal-info {
  margin-top: -2px;
  margin-left: 78px;
  margin-top: 10px;
}

.page-profile-header {
  margin: 0px 0 41px !important;
}

.form-group {
  margin-bottom: 0!important;
}
.edit-submit-button {
  padding-top: 20px;
}

.display-flex {
  display: flex;
  margin-top: 20px;
}
.margin-right-10 {
  margin-right: 10px;
}

.field-labels {
  color: rgb(107, 162, 109) !important;
  font-size: 17px;
  padding: 15px;
}

.form-input-group {
  position: relative;
  left: 215px;
}
.padding-left-5 {
  padding-left: 0px !important;
  width: 20% !important;
  margin-left: -5px !important;
}

.center-form-container {
  /*margin-top: 8% !important;*/
}
.list-group-item {
  cursor: pointer;
}

.margin-top {
  margin-top: 10px;
}
